
.img-thumbnail{
	width:200px;
	height: auto;
	vertical-align:top;
}


.img-fullwidth{
	width:100%;
	height: auto;
	vertical-align:top;
}
.img-thumbnail-sm{
	width:80px;
	height: auto;
	vertical-align:top;
	
}

.img-rounded{
	border-radius:50%;
}