@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;

0,200;0,300;0,400;0,500;0,800;1,100;1,200;1,300;1,400;1,500;1,800&display=swap);.text-primary {
  color: #a8113c;
}

.bg-primary {
  background-color: #a8113c;
}

.border-primary {
  border-color: #a8113c;
}

.b-primary {
  border-color: #a8113c;
}

.text-secondary {
  color: #55595c;
}

.bg-secondary {
  background-color: #55595c;
}

.border-secondary {
  border-color: #55595c;
}

.b-secondary {
  border-color: #55595c;
}

.text-success {
  color: #4BBF73;
}

.bg-success {
  background-color: #4BBF73;
}

.border-success {
  border-color: #4BBF73;
}

.b-success {
  border-color: #4BBF73;
}

.text-info {
  color: #1F9BCF;
}

.bg-info {
  background-color: #1F9BCF;
}

.border-info {
  border-color: #1F9BCF;
}

.b-info {
  border-color: #1F9BCF;
}

.text-warning {
  color: #f0ad4e;
}

.bg-warning {
  background-color: #f0ad4e;
}

.border-warning {
  border-color: #f0ad4e;
}

.b-warning {
  border-color: #f0ad4e;
}

.text-danger {
  color: #d9534f;
}

.bg-danger {
  background-color: #d9534f;
}

.border-danger {
  border-color: #d9534f;
}

.b-danger {
  border-color: #d9534f;
}

.text-light {
  color: #f8f9fa;
}

.bg-light {
  background-color: #f8f9fa;
}

.border-light {
  border-color: #f8f9fa;
}

.b-light {
  border-color: #f8f9fa;
}

.text-dark {
  color: #343a40;
}

.bg-dark {
  background-color: #343a40;
}

.border-dark {
  border-color: #343a40;
}

.b-dark {
  border-color: #343a40;
}

.text-muted {
  color: #919aa1;
}

.bg-muted {
  background-color: #919aa1;
}

.border-muted {
  border-color: #919aa1;
}

.b-muted {
  border-color: #919aa1;
}

.text-blue {
  color: #007bff;
}

.bg-blue {
  background-color: #007bff;
}

.border-blue {
  border-color: #007bff;
}

.b-blue {
  border-color: #007bff;
}

.text-indigo {
  color: #6610f2;
}

.bg-indigo {
  background-color: #6610f2;
}

.border-indigo {
  border-color: #6610f2;
}

.b-indigo {
  border-color: #6610f2;
}

.text-purple {
  color: #6f42c1;
}

.bg-purple {
  background-color: #6f42c1;
}

.border-purple {
  border-color: #6f42c1;
}

.b-purple {
  border-color: #6f42c1;
}

.text-pink {
  color: #e83e8c;
}

.bg-pink {
  background-color: #e83e8c;
}

.border-pink {
  border-color: #e83e8c;
}

.b-pink {
  border-color: #e83e8c;
}

.text-red {
  color: #d9534f;
}

.bg-red {
  background-color: #d9534f;
}

.border-red {
  border-color: #d9534f;
}

.b-red {
  border-color: #d9534f;
}

.text-orange {
  color: #fd7e14;
}

.bg-orange {
  background-color: #fd7e14;
}

.border-orange {
  border-color: #fd7e14;
}

.b-orange {
  border-color: #fd7e14;
}

.text-yellow {
  color: #f0ad4e;
}

.bg-yellow {
  background-color: #f0ad4e;
}

.border-yellow {
  border-color: #f0ad4e;
}

.b-yellow {
  border-color: #f0ad4e;
}

.text-green {
  color: #4BBF73;
}

.bg-green {
  background-color: #4BBF73;
}

.border-green {
  border-color: #4BBF73;
}

.b-green {
  border-color: #4BBF73;
}

.text-teal {
  color: #20c997;
}

.bg-teal {
  background-color: #20c997;
}

.border-teal {
  border-color: #20c997;
}

.b-teal {
  border-color: #20c997;
}

.text-cyan {
  color: #1F9BCF;
}

.bg-cyan {
  background-color: #1F9BCF;
}

.border-cyan {
  border-color: #1F9BCF;
}

.b-cyan {
  border-color: #1F9BCF;
}

.text-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.border-white {
  border-color: #fff;
}

.b-white {
  border-color: #fff;
}

.text-black {
  color: #000;
}

.bg-black {
  background-color: #000;
}

.border-black {
  border-color: #000;
}

.b-black {
  border-color: #000;
}

.text-gray-100 {
  color: #f8f9fa;
}

.bg-gray-100 {
  background-color: #f8f9fa;
}

.border-gray-100 {
  border-color: #f8f9fa;
}

.b-gray-100 {
  border-color: #f8f9fa;
}

.text-gray-200 {
  color: #f7f7f9;
}

.bg-gray-200 {
  background-color: #f7f7f9;
}

.border-gray-200 {
  border-color: #f7f7f9;
}

.b-gray-200 {
  border-color: #f7f7f9;
}

.text-gray-300 {
  color: #eceeef;
}

.bg-gray-300 {
  background-color: #eceeef;
}

.border-gray-300 {
  border-color: #eceeef;
}

.b-gray-300 {
  border-color: #eceeef;
}

.text-gray-400 {
  color: #ced4da;
}

.bg-gray-400 {
  background-color: #ced4da;
}

.border-gray-400 {
  border-color: #ced4da;
}

.b-gray-400 {
  border-color: #ced4da;
}

.text-gray-500 {
  color: #adb5bd;
}

.bg-gray-500 {
  background-color: #adb5bd;
}

.border-gray-500 {
  border-color: #adb5bd;
}

.b-gray-500 {
  border-color: #adb5bd;
}

.text-gray-600 {
  color: #919aa1;
}

.bg-gray-600 {
  background-color: #919aa1;
}

.border-gray-600 {
  border-color: #919aa1;
}

.b-gray-600 {
  border-color: #919aa1;
}

.text-gray-700 {
  color: #55595c;
}

.bg-gray-700 {
  background-color: #55595c;
}

.border-gray-700 {
  border-color: #55595c;
}

.b-gray-700 {
  border-color: #55595c;
}

.text-gray-800 {
  color: #343a40;
}

.bg-gray-800 {
  background-color: #343a40;
}

.border-gray-800 {
  border-color: #343a40;
}

.b-gray-800 {
  border-color: #343a40;
}

.text-gray-900 {
  color: #1a1a1a;
}

.bg-gray-900 {
  background-color: #1a1a1a;
}

.border-gray-900 {
  border-color: #1a1a1a;
}

.b-gray-900 {
  border-color: #1a1a1a;
}

@page {
  margin: 0;
}

body {
  font-size: 11pt;
  font-weight: normal;
  margin: 50px;
  padding: 0;
  color: #1a1a1a;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body.margin-0 {
  margin: 100px 0px 10px 0px;
}

body.margin-xs {
  margin: 105px 5px 15px 5px;
}

body.margin-sm {
  margin: 110px 10px 20px 10px;
}

body.margin-md {
  margin: 125px 25px 35px 25px;
}

body.margin-lg {
  margin: 150px 50px 60px 50px;
}

body.margin-xl {
  margin: 180px 80px 90px 80px;
}

body.margin-xxl {
  margin: 220px 120px 130px 120px;
}

div,
p,
span,
td,
th {
  box-sizing: border-box;
}

/* Layout */

.page-break {
  page-break-after: always;
}

.page {
  margin-top: 0;
  page-break-after: always;
}

.page:last-child {
  page-break-after: never;
}

header {
  position: fixed;
  left: 0px;
  top: 0;
  text-align: center;
}

body.margin-0 header {
  margin: 0px;
}

body.margin-xs header {
  margin: 5px;
}

body.margin-sm header {
  margin: 10px;
}

body.margin-md header {
  margin: 25px;
}

body.margin-lg header {
  margin: 50px;
}

body.margin-xl header {
  margin: 80px;
}

body.margin-xxl header {
  margin: 120px;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0;
  height: 10px;
}

body.margin-0 footer {
  padding: 0 0px 0px 0px;
}

body.margin-xs footer {
  padding: 0 5px 5px 5px;
}

body.margin-sm footer {
  padding: 0 10px 10px 10px;
}

body.margin-md footer {
  padding: 0 25px 25px 25px;
}

body.margin-lg footer {
  padding: 0 50px 50px 50px;
}

body.margin-xl footer {
  padding: 0 80px 80px 80px;
}

body.margin-xxl footer {
  padding: 0 120px 120px 120px;
}

footer .content {
  color: #919aa1;
  font-size: 9pt;
}

footer .page-number {
  font-size: 9pt;
}

footer .pagenum:after {
  content: counter(page);
}

hr {
  border-width: 0px;
  border-color: #ced4da;
  height: 1px;
  background-color: #ced4da;
}

hr.spacer {
  margin-top: 25px;
  margin-bottom: 25px;
}

.fullwidth {
  width: 100%;
  height: auto;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-xs {
  font-size: 6pt;
}

p.text-xs {
  font-size: 6pt;
  margin-bottom: 7.5pt;
}

.text-sm {
  font-size: 9pt;
}

p.text-sm {
  font-size: 9pt;
  margin-bottom: 11.25pt;
}

.text-md {
  font-size: 11pt;
}

p.text-md {
  font-size: 11pt;
  margin-bottom: 13.75pt;
}

.text-lg {
  font-size: 14pt;
}

p.text-lg {
  font-size: 14pt;
  margin-bottom: 17.5pt;
}

.text-xl {
  font-size: 18pt;
}

p.text-xl {
  font-size: 18pt;
  margin-bottom: 22.5pt;
}

.text-xxl {
  font-size: 22pt;
}

p.text-xxl {
  font-size: 22pt;
  margin-bottom: 27.5pt;
}

/* margins */

.m-0 {
  margin: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.mr-0 {
  margin-right: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.ml-0 {
  margin-left: 0px;
}

.mx-0 {
  margin-right: 0px;
  margin-left: 0px;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.m-1 {
  margin: 5px;
}

.mt-1 {
  margin-top: 5px;
}

.mr-1 {
  margin-right: 5px;
}

.mb-1 {
  margin-bottom: 5px;
}

.ml-1 {
  margin-left: 5px;
}

.mx-1 {
  margin-right: 5px;
  margin-left: 5px;
}

.my-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.m-2 {
  margin: 15px;
}

.mt-2 {
  margin-top: 15px;
}

.mr-2 {
  margin-right: 15px;
}

.mb-2 {
  margin-bottom: 15px;
}

.ml-2 {
  margin-left: 15px;
}

.mx-2 {
  margin-right: 15px;
  margin-left: 15px;
}

.my-2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.m-3 {
  margin: 25px;
}

.mt-3 {
  margin-top: 25px;
}

.mr-3 {
  margin-right: 25px;
}

.mb-3 {
  margin-bottom: 25px;
}

.ml-3 {
  margin-left: 25px;
}

.mx-3 {
  margin-right: 25px;
  margin-left: 25px;
}

.my-3 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.m-4 {
  margin: 45px;
}

.mt-4 {
  margin-top: 45px;
}

.mr-4 {
  margin-right: 45px;
}

.mb-4 {
  margin-bottom: 45px;
}

.ml-4 {
  margin-left: 45px;
}

.mx-4 {
  margin-right: 45px;
  margin-left: 45px;
}

.my-4 {
  margin-top: 45px;
  margin-bottom: 45px;
}

.m-5 {
  margin: 80px;
}

.mt-5 {
  margin-top: 80px;
}

.mr-5 {
  margin-right: 80px;
}

.mb-5 {
  margin-bottom: 80px;
}

.ml-5 {
  margin-left: 80px;
}

.mx-5 {
  margin-right: 80px;
  margin-left: 80px;
}

.my-5 {
  margin-top: 80px;
  margin-bottom: 80px;
}

/* paddings */

.p-0 {
  padding: 0px;
}

.pt-0 {
  padding-top: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pl-0 {
  padding-left: 0px;
}

.px-0 {
  padding-right: 0px;
  padding-left: 0px;
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.p-1 {
  padding: 5px;
}

.pt-1 {
  padding-top: 5px;
}

.pr-1 {
  padding-right: 5px;
}

.pb-1 {
  padding-bottom: 5px;
}

.pl-1 {
  padding-left: 5px;
}

.px-1 {
  padding-right: 5px;
  padding-left: 5px;
}

.py-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.p-2 {
  padding: 15px;
}

.pt-2 {
  padding-top: 15px;
}

.pr-2 {
  padding-right: 15px;
}

.pb-2 {
  padding-bottom: 15px;
}

.pl-2 {
  padding-left: 15px;
}

.px-2 {
  padding-right: 15px;
  padding-left: 15px;
}

.py-2 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.p-3 {
  padding: 25px;
}

.pt-3 {
  padding-top: 25px;
}

.pr-3 {
  padding-right: 25px;
}

.pb-3 {
  padding-bottom: 25px;
}

.pl-3 {
  padding-left: 25px;
}

.px-3 {
  padding-right: 25px;
  padding-left: 25px;
}

.py-3 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.p-4 {
  padding: 45px;
}

.pt-4 {
  padding-top: 45px;
}

.pr-4 {
  padding-right: 45px;
}

.pb-4 {
  padding-bottom: 45px;
}

.pl-4 {
  padding-left: 45px;
}

.px-4 {
  padding-right: 45px;
  padding-left: 45px;
}

.py-4 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.p-5 {
  padding: 80px;
}

.pt-5 {
  padding-top: 80px;
}

.pr-5 {
  padding-right: 80px;
}

.pb-5 {
  padding-bottom: 80px;
}

.pl-5 {
  padding-left: 80px;
}

.px-5 {
  padding-right: 80px;
  padding-left: 80px;
}

.py-5 {
  padding-top: 80px;
  padding-bottom: 80px;
}

/*borders*/

.b-solid {
  border-style: solid;
}

.b-dotted {
  border-style: dotted;
}

.b-dashed {
  border-style: dashed;
}

.b-0 {
  border-width: 0px;
}

.ba-0 {
  border-width: 0px;
}

.bt-0 {
  border-top-width: 0px;
}

.br-0 {
  border-right-width: 0px;
}

.bb-0 {
  border-bottom-width: 0px;
}

.bl-0 {
  border-left-width: 0px;
}

.bx-0 {
  border-left-width: 0px;
  border-right-width: 0px;
}

.by-0 {
  border-top-width: 0px;
  border-bottom-width: 0px;
}

.b-1 {
  border-width: 1px;
}

.ba-1 {
  border-width: 1px;
}

.bt-1 {
  border-top-width: 1px;
}

.br-1 {
  border-right-width: 1px;
}

.bb-1 {
  border-bottom-width: 1px;
}

.bl-1 {
  border-left-width: 1px;
}

.bx-1 {
  border-left-width: 1px;
  border-right-width: 1px;
}

.by-1 {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.b-2 {
  border-width: 2px;
}

.ba-2 {
  border-width: 2px;
}

.bt-2 {
  border-top-width: 2px;
}

.br-2 {
  border-right-width: 2px;
}

.bb-2 {
  border-bottom-width: 2px;
}

.bl-2 {
  border-left-width: 2px;
}

.bx-2 {
  border-left-width: 2px;
  border-right-width: 2px;
}

.by-2 {
  border-top-width: 2px;
  border-bottom-width: 2px;
}

.b-3 {
  border-width: 3px;
}

.ba-3 {
  border-width: 3px;
}

.bt-3 {
  border-top-width: 3px;
}

.br-3 {
  border-right-width: 3px;
}

.bb-3 {
  border-bottom-width: 3px;
}

.bl-3 {
  border-left-width: 3px;
}

.bx-3 {
  border-left-width: 3px;
  border-right-width: 3px;
}

.by-3 {
  border-top-width: 3px;
  border-bottom-width: 3px;
}

.b-4 {
  border-width: 4px;
}

.ba-4 {
  border-width: 4px;
}

.bt-4 {
  border-top-width: 4px;
}

.br-4 {
  border-right-width: 4px;
}

.bb-4 {
  border-bottom-width: 4px;
}

.bl-4 {
  border-left-width: 4px;
}

.bx-4 {
  border-left-width: 4px;
  border-right-width: 4px;
}

.by-4 {
  border-top-width: 4px;
  border-bottom-width: 4px;
}

.b-5 {
  border-width: 5px;
}

.ba-5 {
  border-width: 5px;
}

.bt-5 {
  border-top-width: 5px;
}

.br-5 {
  border-right-width: 5px;
}

.bb-5 {
  border-bottom-width: 5px;
}

.bl-5 {
  border-left-width: 5px;
}

.bx-5 {
  border-left-width: 5px;
  border-right-width: 5px;
}

.by-5 {
  border-top-width: 5px;
  border-bottom-width: 5px;
}

/** 
BASE FONT
*/

/*  base elements */

h1,
.h1 {
  margin: 0px;
  padding: 0px;
  font-size: 22pt;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  font-weight: normal;
  font-style: italic;
}

h2,
.h2 {
  margin: 0px;
  padding: 0px;
  font-size: 18pt;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
}

h3,
.h3 {
  margin: 0px;
  padding: 0px;
  font-size: 14pt;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  color: #a8113c;
}

h4,
.h4 {
  margin: 0px;
  padding: 0px;
  font-size: 11pt;
  text-transform: uppercase;
  margin-bottom: 1em;
}

h5,
.h5 {
  margin: 0px;
  padding: 0px;
  font-size: 11pt;
  color: #55595c;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-style: italic;
}

.display-1 {
  margin: 0px;
  padding: 0px;
  font-size: 40pt;
  font-weight: lighter;
  text-transform: none;
  margin-bottom: 0.5em;
  font-style: normal;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

strong {
  font-weight: bold;
}

code {
  color: #1F9BCF;
  border: 1px solid #1F9BCF;
  background-color: rgba(31, 155, 207, 0.1);
  font-family: monospace;
  font-size: 9pt;
}

p {
  font-size: 11pt;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 13.75pt;
}

.badge {
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  margin: 5px;
  padding: 3px 8px;
}

ul {
  list-style: circle;
  margin: 0;
  padding: 0;
  margin-left: 1em;
}

ul.unstyled {
  margin-left: 0;
  list-style: none;
}

ol {
  margin: 0;
  padding: 0;
  margin-left: 1em;
}

blockquote {
  padding: 1em;
  margin: 0 0 1em 0;
  border: 1px solid #ced4da;
}

blockquote p:last-child {
  margin-bottom: 0px;
}

.card {
  padding: 1em;
  margin: 0 0 1em 0;
  border: 1px solid #ced4da;
}

.card p:last-child {
  margin-bottom: 0px;
}

/*PAGE SIZE A5*/

/*margin 0 : 0px*/

body.orientation-portrait.margin-0.size-A5 .col-1 {
  width: 46.5833333333px;
}

body.orientation-landscape.margin-0.size-A5 .col-1 {
  width: 66.0833333333px;
}

body.orientation-portrait.margin-0.size-A5 .col-2 {
  width: 93.1666666667px;
}

body.orientation-landscape.margin-0.size-A5 .col-2 {
  width: 132.1666666667px;
}

body.orientation-portrait.margin-0.size-A5 .col-3 {
  width: 139.75px;
}

body.orientation-landscape.margin-0.size-A5 .col-3 {
  width: 198.25px;
}

body.orientation-portrait.margin-0.size-A5 .col-4 {
  width: 186.3333333333px;
}

body.orientation-landscape.margin-0.size-A5 .col-4 {
  width: 264.3333333333px;
}

body.orientation-portrait.margin-0.size-A5 .col-5 {
  width: 232.9166666667px;
}

body.orientation-landscape.margin-0.size-A5 .col-5 {
  width: 330.4166666667px;
}

body.orientation-portrait.margin-0.size-A5 .col-6 {
  width: 279.5px;
}

body.orientation-landscape.margin-0.size-A5 .col-6 {
  width: 396.5px;
}

body.orientation-portrait.margin-0.size-A5 .col-7 {
  width: 326.0833333333px;
}

body.orientation-landscape.margin-0.size-A5 .col-7 {
  width: 462.5833333333px;
}

body.orientation-portrait.margin-0.size-A5 .col-8 {
  width: 372.6666666667px;
}

body.orientation-landscape.margin-0.size-A5 .col-8 {
  width: 528.6666666667px;
}

body.orientation-portrait.margin-0.size-A5 .col-9 {
  width: 419.25px;
}

body.orientation-landscape.margin-0.size-A5 .col-9 {
  width: 594.75px;
}

body.orientation-portrait.margin-0.size-A5 .col-10 {
  width: 465.8333333333px;
}

body.orientation-landscape.margin-0.size-A5 .col-10 {
  width: 660.8333333333px;
}

body.orientation-portrait.margin-0.size-A5 .col-11 {
  width: 512.4166666667px;
}

body.orientation-landscape.margin-0.size-A5 .col-11 {
  width: 726.9166666667px;
}

body.orientation-portrait.margin-0.size-A5 .col-12 {
  width: 559px;
}

body.orientation-landscape.margin-0.size-A5 .col-12 {
  width: 793px;
}

/*margin xs : 5px*/

body.orientation-portrait.margin-xs.size-A5 .col-1 {
  width: 45.75px;
}

body.orientation-landscape.margin-xs.size-A5 .col-1 {
  width: 65.25px;
}

body.orientation-portrait.margin-xs.size-A5 .col-2 {
  width: 91.5px;
}

body.orientation-landscape.margin-xs.size-A5 .col-2 {
  width: 130.5px;
}

body.orientation-portrait.margin-xs.size-A5 .col-3 {
  width: 137.25px;
}

body.orientation-landscape.margin-xs.size-A5 .col-3 {
  width: 195.75px;
}

body.orientation-portrait.margin-xs.size-A5 .col-4 {
  width: 183px;
}

body.orientation-landscape.margin-xs.size-A5 .col-4 {
  width: 261px;
}

body.orientation-portrait.margin-xs.size-A5 .col-5 {
  width: 228.75px;
}

body.orientation-landscape.margin-xs.size-A5 .col-5 {
  width: 326.25px;
}

body.orientation-portrait.margin-xs.size-A5 .col-6 {
  width: 274.5px;
}

body.orientation-landscape.margin-xs.size-A5 .col-6 {
  width: 391.5px;
}

body.orientation-portrait.margin-xs.size-A5 .col-7 {
  width: 320.25px;
}

body.orientation-landscape.margin-xs.size-A5 .col-7 {
  width: 456.75px;
}

body.orientation-portrait.margin-xs.size-A5 .col-8 {
  width: 366px;
}

body.orientation-landscape.margin-xs.size-A5 .col-8 {
  width: 522px;
}

body.orientation-portrait.margin-xs.size-A5 .col-9 {
  width: 411.75px;
}

body.orientation-landscape.margin-xs.size-A5 .col-9 {
  width: 587.25px;
}

body.orientation-portrait.margin-xs.size-A5 .col-10 {
  width: 457.5px;
}

body.orientation-landscape.margin-xs.size-A5 .col-10 {
  width: 652.5px;
}

body.orientation-portrait.margin-xs.size-A5 .col-11 {
  width: 503.25px;
}

body.orientation-landscape.margin-xs.size-A5 .col-11 {
  width: 717.75px;
}

body.orientation-portrait.margin-xs.size-A5 .col-12 {
  width: 549px;
}

body.orientation-landscape.margin-xs.size-A5 .col-12 {
  width: 783px;
}

/*margin sm : 10px*/

body.orientation-portrait.margin-sm.size-A5 .col-1 {
  width: 44.9166666667px;
}

body.orientation-landscape.margin-sm.size-A5 .col-1 {
  width: 64.4166666667px;
}

body.orientation-portrait.margin-sm.size-A5 .col-2 {
  width: 89.8333333333px;
}

body.orientation-landscape.margin-sm.size-A5 .col-2 {
  width: 128.8333333333px;
}

body.orientation-portrait.margin-sm.size-A5 .col-3 {
  width: 134.75px;
}

body.orientation-landscape.margin-sm.size-A5 .col-3 {
  width: 193.25px;
}

body.orientation-portrait.margin-sm.size-A5 .col-4 {
  width: 179.6666666667px;
}

body.orientation-landscape.margin-sm.size-A5 .col-4 {
  width: 257.6666666667px;
}

body.orientation-portrait.margin-sm.size-A5 .col-5 {
  width: 224.5833333333px;
}

body.orientation-landscape.margin-sm.size-A5 .col-5 {
  width: 322.0833333333px;
}

body.orientation-portrait.margin-sm.size-A5 .col-6 {
  width: 269.5px;
}

body.orientation-landscape.margin-sm.size-A5 .col-6 {
  width: 386.5px;
}

body.orientation-portrait.margin-sm.size-A5 .col-7 {
  width: 314.4166666667px;
}

body.orientation-landscape.margin-sm.size-A5 .col-7 {
  width: 450.9166666667px;
}

body.orientation-portrait.margin-sm.size-A5 .col-8 {
  width: 359.3333333333px;
}

body.orientation-landscape.margin-sm.size-A5 .col-8 {
  width: 515.3333333333px;
}

body.orientation-portrait.margin-sm.size-A5 .col-9 {
  width: 404.25px;
}

body.orientation-landscape.margin-sm.size-A5 .col-9 {
  width: 579.75px;
}

body.orientation-portrait.margin-sm.size-A5 .col-10 {
  width: 449.1666666667px;
}

body.orientation-landscape.margin-sm.size-A5 .col-10 {
  width: 644.1666666667px;
}

body.orientation-portrait.margin-sm.size-A5 .col-11 {
  width: 494.0833333333px;
}

body.orientation-landscape.margin-sm.size-A5 .col-11 {
  width: 708.5833333333px;
}

body.orientation-portrait.margin-sm.size-A5 .col-12 {
  width: 539px;
}

body.orientation-landscape.margin-sm.size-A5 .col-12 {
  width: 773px;
}

/*margin md : 25px*/

body.orientation-portrait.margin-md.size-A5 .col-1 {
  width: 42.4166666667px;
}

body.orientation-landscape.margin-md.size-A5 .col-1 {
  width: 61.9166666667px;
}

body.orientation-portrait.margin-md.size-A5 .col-2 {
  width: 84.8333333333px;
}

body.orientation-landscape.margin-md.size-A5 .col-2 {
  width: 123.8333333333px;
}

body.orientation-portrait.margin-md.size-A5 .col-3 {
  width: 127.25px;
}

body.orientation-landscape.margin-md.size-A5 .col-3 {
  width: 185.75px;
}

body.orientation-portrait.margin-md.size-A5 .col-4 {
  width: 169.6666666667px;
}

body.orientation-landscape.margin-md.size-A5 .col-4 {
  width: 247.6666666667px;
}

body.orientation-portrait.margin-md.size-A5 .col-5 {
  width: 212.0833333333px;
}

body.orientation-landscape.margin-md.size-A5 .col-5 {
  width: 309.5833333333px;
}

body.orientation-portrait.margin-md.size-A5 .col-6 {
  width: 254.5px;
}

body.orientation-landscape.margin-md.size-A5 .col-6 {
  width: 371.5px;
}

body.orientation-portrait.margin-md.size-A5 .col-7 {
  width: 296.9166666667px;
}

body.orientation-landscape.margin-md.size-A5 .col-7 {
  width: 433.4166666667px;
}

body.orientation-portrait.margin-md.size-A5 .col-8 {
  width: 339.3333333333px;
}

body.orientation-landscape.margin-md.size-A5 .col-8 {
  width: 495.3333333333px;
}

body.orientation-portrait.margin-md.size-A5 .col-9 {
  width: 381.75px;
}

body.orientation-landscape.margin-md.size-A5 .col-9 {
  width: 557.25px;
}

body.orientation-portrait.margin-md.size-A5 .col-10 {
  width: 424.1666666667px;
}

body.orientation-landscape.margin-md.size-A5 .col-10 {
  width: 619.1666666667px;
}

body.orientation-portrait.margin-md.size-A5 .col-11 {
  width: 466.5833333333px;
}

body.orientation-landscape.margin-md.size-A5 .col-11 {
  width: 681.0833333333px;
}

body.orientation-portrait.margin-md.size-A5 .col-12 {
  width: 509px;
}

body.orientation-landscape.margin-md.size-A5 .col-12 {
  width: 743px;
}

/*margin lg : 50px*/

body.orientation-portrait.margin-lg.size-A5 .col-1 {
  width: 38.25px;
}

body.orientation-landscape.margin-lg.size-A5 .col-1 {
  width: 57.75px;
}

body.orientation-portrait.margin-lg.size-A5 .col-2 {
  width: 76.5px;
}

body.orientation-landscape.margin-lg.size-A5 .col-2 {
  width: 115.5px;
}

body.orientation-portrait.margin-lg.size-A5 .col-3 {
  width: 114.75px;
}

body.orientation-landscape.margin-lg.size-A5 .col-3 {
  width: 173.25px;
}

body.orientation-portrait.margin-lg.size-A5 .col-4 {
  width: 153px;
}

body.orientation-landscape.margin-lg.size-A5 .col-4 {
  width: 231px;
}

body.orientation-portrait.margin-lg.size-A5 .col-5 {
  width: 191.25px;
}

body.orientation-landscape.margin-lg.size-A5 .col-5 {
  width: 288.75px;
}

body.orientation-portrait.margin-lg.size-A5 .col-6 {
  width: 229.5px;
}

body.orientation-landscape.margin-lg.size-A5 .col-6 {
  width: 346.5px;
}

body.orientation-portrait.margin-lg.size-A5 .col-7 {
  width: 267.75px;
}

body.orientation-landscape.margin-lg.size-A5 .col-7 {
  width: 404.25px;
}

body.orientation-portrait.margin-lg.size-A5 .col-8 {
  width: 306px;
}

body.orientation-landscape.margin-lg.size-A5 .col-8 {
  width: 462px;
}

body.orientation-portrait.margin-lg.size-A5 .col-9 {
  width: 344.25px;
}

body.orientation-landscape.margin-lg.size-A5 .col-9 {
  width: 519.75px;
}

body.orientation-portrait.margin-lg.size-A5 .col-10 {
  width: 382.5px;
}

body.orientation-landscape.margin-lg.size-A5 .col-10 {
  width: 577.5px;
}

body.orientation-portrait.margin-lg.size-A5 .col-11 {
  width: 420.75px;
}

body.orientation-landscape.margin-lg.size-A5 .col-11 {
  width: 635.25px;
}

body.orientation-portrait.margin-lg.size-A5 .col-12 {
  width: 459px;
}

body.orientation-landscape.margin-lg.size-A5 .col-12 {
  width: 693px;
}

/*margin xl : 80px*/

body.orientation-portrait.margin-xl.size-A5 .col-1 {
  width: 33.25px;
}

body.orientation-landscape.margin-xl.size-A5 .col-1 {
  width: 52.75px;
}

body.orientation-portrait.margin-xl.size-A5 .col-2 {
  width: 66.5px;
}

body.orientation-landscape.margin-xl.size-A5 .col-2 {
  width: 105.5px;
}

body.orientation-portrait.margin-xl.size-A5 .col-3 {
  width: 99.75px;
}

body.orientation-landscape.margin-xl.size-A5 .col-3 {
  width: 158.25px;
}

body.orientation-portrait.margin-xl.size-A5 .col-4 {
  width: 133px;
}

body.orientation-landscape.margin-xl.size-A5 .col-4 {
  width: 211px;
}

body.orientation-portrait.margin-xl.size-A5 .col-5 {
  width: 166.25px;
}

body.orientation-landscape.margin-xl.size-A5 .col-5 {
  width: 263.75px;
}

body.orientation-portrait.margin-xl.size-A5 .col-6 {
  width: 199.5px;
}

body.orientation-landscape.margin-xl.size-A5 .col-6 {
  width: 316.5px;
}

body.orientation-portrait.margin-xl.size-A5 .col-7 {
  width: 232.75px;
}

body.orientation-landscape.margin-xl.size-A5 .col-7 {
  width: 369.25px;
}

body.orientation-portrait.margin-xl.size-A5 .col-8 {
  width: 266px;
}

body.orientation-landscape.margin-xl.size-A5 .col-8 {
  width: 422px;
}

body.orientation-portrait.margin-xl.size-A5 .col-9 {
  width: 299.25px;
}

body.orientation-landscape.margin-xl.size-A5 .col-9 {
  width: 474.75px;
}

body.orientation-portrait.margin-xl.size-A5 .col-10 {
  width: 332.5px;
}

body.orientation-landscape.margin-xl.size-A5 .col-10 {
  width: 527.5px;
}

body.orientation-portrait.margin-xl.size-A5 .col-11 {
  width: 365.75px;
}

body.orientation-landscape.margin-xl.size-A5 .col-11 {
  width: 580.25px;
}

body.orientation-portrait.margin-xl.size-A5 .col-12 {
  width: 399px;
}

body.orientation-landscape.margin-xl.size-A5 .col-12 {
  width: 633px;
}

/*margin xxl : 120px*/

body.orientation-portrait.margin-xxl.size-A5 .col-1 {
  width: 26.5833333333px;
}

body.orientation-landscape.margin-xxl.size-A5 .col-1 {
  width: 46.0833333333px;
}

body.orientation-portrait.margin-xxl.size-A5 .col-2 {
  width: 53.1666666667px;
}

body.orientation-landscape.margin-xxl.size-A5 .col-2 {
  width: 92.1666666667px;
}

body.orientation-portrait.margin-xxl.size-A5 .col-3 {
  width: 79.75px;
}

body.orientation-landscape.margin-xxl.size-A5 .col-3 {
  width: 138.25px;
}

body.orientation-portrait.margin-xxl.size-A5 .col-4 {
  width: 106.3333333333px;
}

body.orientation-landscape.margin-xxl.size-A5 .col-4 {
  width: 184.3333333333px;
}

body.orientation-portrait.margin-xxl.size-A5 .col-5 {
  width: 132.9166666667px;
}

body.orientation-landscape.margin-xxl.size-A5 .col-5 {
  width: 230.4166666667px;
}

body.orientation-portrait.margin-xxl.size-A5 .col-6 {
  width: 159.5px;
}

body.orientation-landscape.margin-xxl.size-A5 .col-6 {
  width: 276.5px;
}

body.orientation-portrait.margin-xxl.size-A5 .col-7 {
  width: 186.0833333333px;
}

body.orientation-landscape.margin-xxl.size-A5 .col-7 {
  width: 322.5833333333px;
}

body.orientation-portrait.margin-xxl.size-A5 .col-8 {
  width: 212.6666666667px;
}

body.orientation-landscape.margin-xxl.size-A5 .col-8 {
  width: 368.6666666667px;
}

body.orientation-portrait.margin-xxl.size-A5 .col-9 {
  width: 239.25px;
}

body.orientation-landscape.margin-xxl.size-A5 .col-9 {
  width: 414.75px;
}

body.orientation-portrait.margin-xxl.size-A5 .col-10 {
  width: 265.8333333333px;
}

body.orientation-landscape.margin-xxl.size-A5 .col-10 {
  width: 460.8333333333px;
}

body.orientation-portrait.margin-xxl.size-A5 .col-11 {
  width: 292.4166666667px;
}

body.orientation-landscape.margin-xxl.size-A5 .col-11 {
  width: 506.9166666667px;
}

body.orientation-portrait.margin-xxl.size-A5 .col-12 {
  width: 319px;
}

body.orientation-landscape.margin-xxl.size-A5 .col-12 {
  width: 553px;
}

/*PAGE SIZE A4*/

/*margin 0 : 0px*/

body.orientation-portrait.margin-0.size-A4 .col-1 {
  width: 66.0833333333px;
}

body.orientation-landscape.margin-0.size-A4 .col-1 {
  width: 93.5833333333px;
}

body.orientation-portrait.margin-0.size-A4 .col-2 {
  width: 132.1666666667px;
}

body.orientation-landscape.margin-0.size-A4 .col-2 {
  width: 187.1666666667px;
}

body.orientation-portrait.margin-0.size-A4 .col-3 {
  width: 198.25px;
}

body.orientation-landscape.margin-0.size-A4 .col-3 {
  width: 280.75px;
}

body.orientation-portrait.margin-0.size-A4 .col-4 {
  width: 264.3333333333px;
}

body.orientation-landscape.margin-0.size-A4 .col-4 {
  width: 374.3333333333px;
}

body.orientation-portrait.margin-0.size-A4 .col-5 {
  width: 330.4166666667px;
}

body.orientation-landscape.margin-0.size-A4 .col-5 {
  width: 467.9166666667px;
}

body.orientation-portrait.margin-0.size-A4 .col-6 {
  width: 396.5px;
}

body.orientation-landscape.margin-0.size-A4 .col-6 {
  width: 561.5px;
}

body.orientation-portrait.margin-0.size-A4 .col-7 {
  width: 462.5833333333px;
}

body.orientation-landscape.margin-0.size-A4 .col-7 {
  width: 655.0833333333px;
}

body.orientation-portrait.margin-0.size-A4 .col-8 {
  width: 528.6666666667px;
}

body.orientation-landscape.margin-0.size-A4 .col-8 {
  width: 748.6666666667px;
}

body.orientation-portrait.margin-0.size-A4 .col-9 {
  width: 594.75px;
}

body.orientation-landscape.margin-0.size-A4 .col-9 {
  width: 842.25px;
}

body.orientation-portrait.margin-0.size-A4 .col-10 {
  width: 660.8333333333px;
}

body.orientation-landscape.margin-0.size-A4 .col-10 {
  width: 935.8333333333px;
}

body.orientation-portrait.margin-0.size-A4 .col-11 {
  width: 726.9166666667px;
}

body.orientation-landscape.margin-0.size-A4 .col-11 {
  width: 1029.4166666667px;
}

body.orientation-portrait.margin-0.size-A4 .col-12 {
  width: 793px;
}

body.orientation-landscape.margin-0.size-A4 .col-12 {
  width: 1123px;
}

/*margin xs : 5px*/

body.orientation-portrait.margin-xs.size-A4 .col-1 {
  width: 65.25px;
}

body.orientation-landscape.margin-xs.size-A4 .col-1 {
  width: 92.75px;
}

body.orientation-portrait.margin-xs.size-A4 .col-2 {
  width: 130.5px;
}

body.orientation-landscape.margin-xs.size-A4 .col-2 {
  width: 185.5px;
}

body.orientation-portrait.margin-xs.size-A4 .col-3 {
  width: 195.75px;
}

body.orientation-landscape.margin-xs.size-A4 .col-3 {
  width: 278.25px;
}

body.orientation-portrait.margin-xs.size-A4 .col-4 {
  width: 261px;
}

body.orientation-landscape.margin-xs.size-A4 .col-4 {
  width: 371px;
}

body.orientation-portrait.margin-xs.size-A4 .col-5 {
  width: 326.25px;
}

body.orientation-landscape.margin-xs.size-A4 .col-5 {
  width: 463.75px;
}

body.orientation-portrait.margin-xs.size-A4 .col-6 {
  width: 391.5px;
}

body.orientation-landscape.margin-xs.size-A4 .col-6 {
  width: 556.5px;
}

body.orientation-portrait.margin-xs.size-A4 .col-7 {
  width: 456.75px;
}

body.orientation-landscape.margin-xs.size-A4 .col-7 {
  width: 649.25px;
}

body.orientation-portrait.margin-xs.size-A4 .col-8 {
  width: 522px;
}

body.orientation-landscape.margin-xs.size-A4 .col-8 {
  width: 742px;
}

body.orientation-portrait.margin-xs.size-A4 .col-9 {
  width: 587.25px;
}

body.orientation-landscape.margin-xs.size-A4 .col-9 {
  width: 834.75px;
}

body.orientation-portrait.margin-xs.size-A4 .col-10 {
  width: 652.5px;
}

body.orientation-landscape.margin-xs.size-A4 .col-10 {
  width: 927.5px;
}

body.orientation-portrait.margin-xs.size-A4 .col-11 {
  width: 717.75px;
}

body.orientation-landscape.margin-xs.size-A4 .col-11 {
  width: 1020.25px;
}

body.orientation-portrait.margin-xs.size-A4 .col-12 {
  width: 783px;
}

body.orientation-landscape.margin-xs.size-A4 .col-12 {
  width: 1113px;
}

/*margin sm : 10px*/

body.orientation-portrait.margin-sm.size-A4 .col-1 {
  width: 64.4166666667px;
}

body.orientation-landscape.margin-sm.size-A4 .col-1 {
  width: 91.9166666667px;
}

body.orientation-portrait.margin-sm.size-A4 .col-2 {
  width: 128.8333333333px;
}

body.orientation-landscape.margin-sm.size-A4 .col-2 {
  width: 183.8333333333px;
}

body.orientation-portrait.margin-sm.size-A4 .col-3 {
  width: 193.25px;
}

body.orientation-landscape.margin-sm.size-A4 .col-3 {
  width: 275.75px;
}

body.orientation-portrait.margin-sm.size-A4 .col-4 {
  width: 257.6666666667px;
}

body.orientation-landscape.margin-sm.size-A4 .col-4 {
  width: 367.6666666667px;
}

body.orientation-portrait.margin-sm.size-A4 .col-5 {
  width: 322.0833333333px;
}

body.orientation-landscape.margin-sm.size-A4 .col-5 {
  width: 459.5833333333px;
}

body.orientation-portrait.margin-sm.size-A4 .col-6 {
  width: 386.5px;
}

body.orientation-landscape.margin-sm.size-A4 .col-6 {
  width: 551.5px;
}

body.orientation-portrait.margin-sm.size-A4 .col-7 {
  width: 450.9166666667px;
}

body.orientation-landscape.margin-sm.size-A4 .col-7 {
  width: 643.4166666667px;
}

body.orientation-portrait.margin-sm.size-A4 .col-8 {
  width: 515.3333333333px;
}

body.orientation-landscape.margin-sm.size-A4 .col-8 {
  width: 735.3333333333px;
}

body.orientation-portrait.margin-sm.size-A4 .col-9 {
  width: 579.75px;
}

body.orientation-landscape.margin-sm.size-A4 .col-9 {
  width: 827.25px;
}

body.orientation-portrait.margin-sm.size-A4 .col-10 {
  width: 644.1666666667px;
}

body.orientation-landscape.margin-sm.size-A4 .col-10 {
  width: 919.1666666667px;
}

body.orientation-portrait.margin-sm.size-A4 .col-11 {
  width: 708.5833333333px;
}

body.orientation-landscape.margin-sm.size-A4 .col-11 {
  width: 1011.0833333333px;
}

body.orientation-portrait.margin-sm.size-A4 .col-12 {
  width: 773px;
}

body.orientation-landscape.margin-sm.size-A4 .col-12 {
  width: 1103px;
}

/*margin md : 25px*/

body.orientation-portrait.margin-md.size-A4 .col-1 {
  width: 61.9166666667px;
}

body.orientation-landscape.margin-md.size-A4 .col-1 {
  width: 89.4166666667px;
}

body.orientation-portrait.margin-md.size-A4 .col-2 {
  width: 123.8333333333px;
}

body.orientation-landscape.margin-md.size-A4 .col-2 {
  width: 178.8333333333px;
}

body.orientation-portrait.margin-md.size-A4 .col-3 {
  width: 185.75px;
}

body.orientation-landscape.margin-md.size-A4 .col-3 {
  width: 268.25px;
}

body.orientation-portrait.margin-md.size-A4 .col-4 {
  width: 247.6666666667px;
}

body.orientation-landscape.margin-md.size-A4 .col-4 {
  width: 357.6666666667px;
}

body.orientation-portrait.margin-md.size-A4 .col-5 {
  width: 309.5833333333px;
}

body.orientation-landscape.margin-md.size-A4 .col-5 {
  width: 447.0833333333px;
}

body.orientation-portrait.margin-md.size-A4 .col-6 {
  width: 371.5px;
}

body.orientation-landscape.margin-md.size-A4 .col-6 {
  width: 536.5px;
}

body.orientation-portrait.margin-md.size-A4 .col-7 {
  width: 433.4166666667px;
}

body.orientation-landscape.margin-md.size-A4 .col-7 {
  width: 625.9166666667px;
}

body.orientation-portrait.margin-md.size-A4 .col-8 {
  width: 495.3333333333px;
}

body.orientation-landscape.margin-md.size-A4 .col-8 {
  width: 715.3333333333px;
}

body.orientation-portrait.margin-md.size-A4 .col-9 {
  width: 557.25px;
}

body.orientation-landscape.margin-md.size-A4 .col-9 {
  width: 804.75px;
}

body.orientation-portrait.margin-md.size-A4 .col-10 {
  width: 619.1666666667px;
}

body.orientation-landscape.margin-md.size-A4 .col-10 {
  width: 894.1666666667px;
}

body.orientation-portrait.margin-md.size-A4 .col-11 {
  width: 681.0833333333px;
}

body.orientation-landscape.margin-md.size-A4 .col-11 {
  width: 983.5833333333px;
}

body.orientation-portrait.margin-md.size-A4 .col-12 {
  width: 743px;
}

body.orientation-landscape.margin-md.size-A4 .col-12 {
  width: 1073px;
}

/*margin lg : 50px*/

body.orientation-portrait.margin-lg.size-A4 .col-1 {
  width: 57.75px;
}

body.orientation-landscape.margin-lg.size-A4 .col-1 {
  width: 85.25px;
}

body.orientation-portrait.margin-lg.size-A4 .col-2 {
  width: 115.5px;
}

body.orientation-landscape.margin-lg.size-A4 .col-2 {
  width: 170.5px;
}

body.orientation-portrait.margin-lg.size-A4 .col-3 {
  width: 173.25px;
}

body.orientation-landscape.margin-lg.size-A4 .col-3 {
  width: 255.75px;
}

body.orientation-portrait.margin-lg.size-A4 .col-4 {
  width: 231px;
}

body.orientation-landscape.margin-lg.size-A4 .col-4 {
  width: 341px;
}

body.orientation-portrait.margin-lg.size-A4 .col-5 {
  width: 288.75px;
}

body.orientation-landscape.margin-lg.size-A4 .col-5 {
  width: 426.25px;
}

body.orientation-portrait.margin-lg.size-A4 .col-6 {
  width: 346.5px;
}

body.orientation-landscape.margin-lg.size-A4 .col-6 {
  width: 511.5px;
}

body.orientation-portrait.margin-lg.size-A4 .col-7 {
  width: 404.25px;
}

body.orientation-landscape.margin-lg.size-A4 .col-7 {
  width: 596.75px;
}

body.orientation-portrait.margin-lg.size-A4 .col-8 {
  width: 462px;
}

body.orientation-landscape.margin-lg.size-A4 .col-8 {
  width: 682px;
}

body.orientation-portrait.margin-lg.size-A4 .col-9 {
  width: 519.75px;
}

body.orientation-landscape.margin-lg.size-A4 .col-9 {
  width: 767.25px;
}

body.orientation-portrait.margin-lg.size-A4 .col-10 {
  width: 577.5px;
}

body.orientation-landscape.margin-lg.size-A4 .col-10 {
  width: 852.5px;
}

body.orientation-portrait.margin-lg.size-A4 .col-11 {
  width: 635.25px;
}

body.orientation-landscape.margin-lg.size-A4 .col-11 {
  width: 937.75px;
}

body.orientation-portrait.margin-lg.size-A4 .col-12 {
  width: 693px;
}

body.orientation-landscape.margin-lg.size-A4 .col-12 {
  width: 1023px;
}

/*margin xl : 80px*/

body.orientation-portrait.margin-xl.size-A4 .col-1 {
  width: 52.75px;
}

body.orientation-landscape.margin-xl.size-A4 .col-1 {
  width: 80.25px;
}

body.orientation-portrait.margin-xl.size-A4 .col-2 {
  width: 105.5px;
}

body.orientation-landscape.margin-xl.size-A4 .col-2 {
  width: 160.5px;
}

body.orientation-portrait.margin-xl.size-A4 .col-3 {
  width: 158.25px;
}

body.orientation-landscape.margin-xl.size-A4 .col-3 {
  width: 240.75px;
}

body.orientation-portrait.margin-xl.size-A4 .col-4 {
  width: 211px;
}

body.orientation-landscape.margin-xl.size-A4 .col-4 {
  width: 321px;
}

body.orientation-portrait.margin-xl.size-A4 .col-5 {
  width: 263.75px;
}

body.orientation-landscape.margin-xl.size-A4 .col-5 {
  width: 401.25px;
}

body.orientation-portrait.margin-xl.size-A4 .col-6 {
  width: 316.5px;
}

body.orientation-landscape.margin-xl.size-A4 .col-6 {
  width: 481.5px;
}

body.orientation-portrait.margin-xl.size-A4 .col-7 {
  width: 369.25px;
}

body.orientation-landscape.margin-xl.size-A4 .col-7 {
  width: 561.75px;
}

body.orientation-portrait.margin-xl.size-A4 .col-8 {
  width: 422px;
}

body.orientation-landscape.margin-xl.size-A4 .col-8 {
  width: 642px;
}

body.orientation-portrait.margin-xl.size-A4 .col-9 {
  width: 474.75px;
}

body.orientation-landscape.margin-xl.size-A4 .col-9 {
  width: 722.25px;
}

body.orientation-portrait.margin-xl.size-A4 .col-10 {
  width: 527.5px;
}

body.orientation-landscape.margin-xl.size-A4 .col-10 {
  width: 802.5px;
}

body.orientation-portrait.margin-xl.size-A4 .col-11 {
  width: 580.25px;
}

body.orientation-landscape.margin-xl.size-A4 .col-11 {
  width: 882.75px;
}

body.orientation-portrait.margin-xl.size-A4 .col-12 {
  width: 633px;
}

body.orientation-landscape.margin-xl.size-A4 .col-12 {
  width: 963px;
}

/*margin xxl : 120px*/

body.orientation-portrait.margin-xxl.size-A4 .col-1 {
  width: 46.0833333333px;
}

body.orientation-landscape.margin-xxl.size-A4 .col-1 {
  width: 73.5833333333px;
}

body.orientation-portrait.margin-xxl.size-A4 .col-2 {
  width: 92.1666666667px;
}

body.orientation-landscape.margin-xxl.size-A4 .col-2 {
  width: 147.1666666667px;
}

body.orientation-portrait.margin-xxl.size-A4 .col-3 {
  width: 138.25px;
}

body.orientation-landscape.margin-xxl.size-A4 .col-3 {
  width: 220.75px;
}

body.orientation-portrait.margin-xxl.size-A4 .col-4 {
  width: 184.3333333333px;
}

body.orientation-landscape.margin-xxl.size-A4 .col-4 {
  width: 294.3333333333px;
}

body.orientation-portrait.margin-xxl.size-A4 .col-5 {
  width: 230.4166666667px;
}

body.orientation-landscape.margin-xxl.size-A4 .col-5 {
  width: 367.9166666667px;
}

body.orientation-portrait.margin-xxl.size-A4 .col-6 {
  width: 276.5px;
}

body.orientation-landscape.margin-xxl.size-A4 .col-6 {
  width: 441.5px;
}

body.orientation-portrait.margin-xxl.size-A4 .col-7 {
  width: 322.5833333333px;
}

body.orientation-landscape.margin-xxl.size-A4 .col-7 {
  width: 515.0833333333px;
}

body.orientation-portrait.margin-xxl.size-A4 .col-8 {
  width: 368.6666666667px;
}

body.orientation-landscape.margin-xxl.size-A4 .col-8 {
  width: 588.6666666667px;
}

body.orientation-portrait.margin-xxl.size-A4 .col-9 {
  width: 414.75px;
}

body.orientation-landscape.margin-xxl.size-A4 .col-9 {
  width: 662.25px;
}

body.orientation-portrait.margin-xxl.size-A4 .col-10 {
  width: 460.8333333333px;
}

body.orientation-landscape.margin-xxl.size-A4 .col-10 {
  width: 735.8333333333px;
}

body.orientation-portrait.margin-xxl.size-A4 .col-11 {
  width: 506.9166666667px;
}

body.orientation-landscape.margin-xxl.size-A4 .col-11 {
  width: 809.4166666667px;
}

body.orientation-portrait.margin-xxl.size-A4 .col-12 {
  width: 553px;
}

body.orientation-landscape.margin-xxl.size-A4 .col-12 {
  width: 883px;
}

/*PAGE SIZE A3*/

/*margin 0 : 0px*/

body.orientation-portrait.margin-0.size-A3 .col-1 {
  width: 93.5833333333px;
}

body.orientation-landscape.margin-0.size-A3 .col-1 {
  width: 132.25px;
}

body.orientation-portrait.margin-0.size-A3 .col-2 {
  width: 187.1666666667px;
}

body.orientation-landscape.margin-0.size-A3 .col-2 {
  width: 264.5px;
}

body.orientation-portrait.margin-0.size-A3 .col-3 {
  width: 280.75px;
}

body.orientation-landscape.margin-0.size-A3 .col-3 {
  width: 396.75px;
}

body.orientation-portrait.margin-0.size-A3 .col-4 {
  width: 374.3333333333px;
}

body.orientation-landscape.margin-0.size-A3 .col-4 {
  width: 529px;
}

body.orientation-portrait.margin-0.size-A3 .col-5 {
  width: 467.9166666667px;
}

body.orientation-landscape.margin-0.size-A3 .col-5 {
  width: 661.25px;
}

body.orientation-portrait.margin-0.size-A3 .col-6 {
  width: 561.5px;
}

body.orientation-landscape.margin-0.size-A3 .col-6 {
  width: 793.5px;
}

body.orientation-portrait.margin-0.size-A3 .col-7 {
  width: 655.0833333333px;
}

body.orientation-landscape.margin-0.size-A3 .col-7 {
  width: 925.75px;
}

body.orientation-portrait.margin-0.size-A3 .col-8 {
  width: 748.6666666667px;
}

body.orientation-landscape.margin-0.size-A3 .col-8 {
  width: 1058px;
}

body.orientation-portrait.margin-0.size-A3 .col-9 {
  width: 842.25px;
}

body.orientation-landscape.margin-0.size-A3 .col-9 {
  width: 1190.25px;
}

body.orientation-portrait.margin-0.size-A3 .col-10 {
  width: 935.8333333333px;
}

body.orientation-landscape.margin-0.size-A3 .col-10 {
  width: 1322.5px;
}

body.orientation-portrait.margin-0.size-A3 .col-11 {
  width: 1029.4166666667px;
}

body.orientation-landscape.margin-0.size-A3 .col-11 {
  width: 1454.75px;
}

body.orientation-portrait.margin-0.size-A3 .col-12 {
  width: 1123px;
}

body.orientation-landscape.margin-0.size-A3 .col-12 {
  width: 1587px;
}

/*margin xs : 5px*/

body.orientation-portrait.margin-xs.size-A3 .col-1 {
  width: 92.75px;
}

body.orientation-landscape.margin-xs.size-A3 .col-1 {
  width: 131.4166666667px;
}

body.orientation-portrait.margin-xs.size-A3 .col-2 {
  width: 185.5px;
}

body.orientation-landscape.margin-xs.size-A3 .col-2 {
  width: 262.8333333333px;
}

body.orientation-portrait.margin-xs.size-A3 .col-3 {
  width: 278.25px;
}

body.orientation-landscape.margin-xs.size-A3 .col-3 {
  width: 394.25px;
}

body.orientation-portrait.margin-xs.size-A3 .col-4 {
  width: 371px;
}

body.orientation-landscape.margin-xs.size-A3 .col-4 {
  width: 525.6666666667px;
}

body.orientation-portrait.margin-xs.size-A3 .col-5 {
  width: 463.75px;
}

body.orientation-landscape.margin-xs.size-A3 .col-5 {
  width: 657.0833333333px;
}

body.orientation-portrait.margin-xs.size-A3 .col-6 {
  width: 556.5px;
}

body.orientation-landscape.margin-xs.size-A3 .col-6 {
  width: 788.5px;
}

body.orientation-portrait.margin-xs.size-A3 .col-7 {
  width: 649.25px;
}

body.orientation-landscape.margin-xs.size-A3 .col-7 {
  width: 919.9166666667px;
}

body.orientation-portrait.margin-xs.size-A3 .col-8 {
  width: 742px;
}

body.orientation-landscape.margin-xs.size-A3 .col-8 {
  width: 1051.3333333333px;
}

body.orientation-portrait.margin-xs.size-A3 .col-9 {
  width: 834.75px;
}

body.orientation-landscape.margin-xs.size-A3 .col-9 {
  width: 1182.75px;
}

body.orientation-portrait.margin-xs.size-A3 .col-10 {
  width: 927.5px;
}

body.orientation-landscape.margin-xs.size-A3 .col-10 {
  width: 1314.1666666667px;
}

body.orientation-portrait.margin-xs.size-A3 .col-11 {
  width: 1020.25px;
}

body.orientation-landscape.margin-xs.size-A3 .col-11 {
  width: 1445.5833333333px;
}

body.orientation-portrait.margin-xs.size-A3 .col-12 {
  width: 1113px;
}

body.orientation-landscape.margin-xs.size-A3 .col-12 {
  width: 1577px;
}

/*margin sm : 10px*/

body.orientation-portrait.margin-sm.size-A3 .col-1 {
  width: 91.9166666667px;
}

body.orientation-landscape.margin-sm.size-A3 .col-1 {
  width: 130.5833333333px;
}

body.orientation-portrait.margin-sm.size-A3 .col-2 {
  width: 183.8333333333px;
}

body.orientation-landscape.margin-sm.size-A3 .col-2 {
  width: 261.1666666667px;
}

body.orientation-portrait.margin-sm.size-A3 .col-3 {
  width: 275.75px;
}

body.orientation-landscape.margin-sm.size-A3 .col-3 {
  width: 391.75px;
}

body.orientation-portrait.margin-sm.size-A3 .col-4 {
  width: 367.6666666667px;
}

body.orientation-landscape.margin-sm.size-A3 .col-4 {
  width: 522.3333333333px;
}

body.orientation-portrait.margin-sm.size-A3 .col-5 {
  width: 459.5833333333px;
}

body.orientation-landscape.margin-sm.size-A3 .col-5 {
  width: 652.9166666667px;
}

body.orientation-portrait.margin-sm.size-A3 .col-6 {
  width: 551.5px;
}

body.orientation-landscape.margin-sm.size-A3 .col-6 {
  width: 783.5px;
}

body.orientation-portrait.margin-sm.size-A3 .col-7 {
  width: 643.4166666667px;
}

body.orientation-landscape.margin-sm.size-A3 .col-7 {
  width: 914.0833333333px;
}

body.orientation-portrait.margin-sm.size-A3 .col-8 {
  width: 735.3333333333px;
}

body.orientation-landscape.margin-sm.size-A3 .col-8 {
  width: 1044.6666666667px;
}

body.orientation-portrait.margin-sm.size-A3 .col-9 {
  width: 827.25px;
}

body.orientation-landscape.margin-sm.size-A3 .col-9 {
  width: 1175.25px;
}

body.orientation-portrait.margin-sm.size-A3 .col-10 {
  width: 919.1666666667px;
}

body.orientation-landscape.margin-sm.size-A3 .col-10 {
  width: 1305.8333333333px;
}

body.orientation-portrait.margin-sm.size-A3 .col-11 {
  width: 1011.0833333333px;
}

body.orientation-landscape.margin-sm.size-A3 .col-11 {
  width: 1436.4166666667px;
}

body.orientation-portrait.margin-sm.size-A3 .col-12 {
  width: 1103px;
}

body.orientation-landscape.margin-sm.size-A3 .col-12 {
  width: 1567px;
}

/*margin md : 25px*/

body.orientation-portrait.margin-md.size-A3 .col-1 {
  width: 89.4166666667px;
}

body.orientation-landscape.margin-md.size-A3 .col-1 {
  width: 128.0833333333px;
}

body.orientation-portrait.margin-md.size-A3 .col-2 {
  width: 178.8333333333px;
}

body.orientation-landscape.margin-md.size-A3 .col-2 {
  width: 256.1666666667px;
}

body.orientation-portrait.margin-md.size-A3 .col-3 {
  width: 268.25px;
}

body.orientation-landscape.margin-md.size-A3 .col-3 {
  width: 384.25px;
}

body.orientation-portrait.margin-md.size-A3 .col-4 {
  width: 357.6666666667px;
}

body.orientation-landscape.margin-md.size-A3 .col-4 {
  width: 512.3333333333px;
}

body.orientation-portrait.margin-md.size-A3 .col-5 {
  width: 447.0833333333px;
}

body.orientation-landscape.margin-md.size-A3 .col-5 {
  width: 640.4166666667px;
}

body.orientation-portrait.margin-md.size-A3 .col-6 {
  width: 536.5px;
}

body.orientation-landscape.margin-md.size-A3 .col-6 {
  width: 768.5px;
}

body.orientation-portrait.margin-md.size-A3 .col-7 {
  width: 625.9166666667px;
}

body.orientation-landscape.margin-md.size-A3 .col-7 {
  width: 896.5833333333px;
}

body.orientation-portrait.margin-md.size-A3 .col-8 {
  width: 715.3333333333px;
}

body.orientation-landscape.margin-md.size-A3 .col-8 {
  width: 1024.6666666667px;
}

body.orientation-portrait.margin-md.size-A3 .col-9 {
  width: 804.75px;
}

body.orientation-landscape.margin-md.size-A3 .col-9 {
  width: 1152.75px;
}

body.orientation-portrait.margin-md.size-A3 .col-10 {
  width: 894.1666666667px;
}

body.orientation-landscape.margin-md.size-A3 .col-10 {
  width: 1280.8333333333px;
}

body.orientation-portrait.margin-md.size-A3 .col-11 {
  width: 983.5833333333px;
}

body.orientation-landscape.margin-md.size-A3 .col-11 {
  width: 1408.9166666667px;
}

body.orientation-portrait.margin-md.size-A3 .col-12 {
  width: 1073px;
}

body.orientation-landscape.margin-md.size-A3 .col-12 {
  width: 1537px;
}

/*margin lg : 50px*/

body.orientation-portrait.margin-lg.size-A3 .col-1 {
  width: 85.25px;
}

body.orientation-landscape.margin-lg.size-A3 .col-1 {
  width: 123.9166666667px;
}

body.orientation-portrait.margin-lg.size-A3 .col-2 {
  width: 170.5px;
}

body.orientation-landscape.margin-lg.size-A3 .col-2 {
  width: 247.8333333333px;
}

body.orientation-portrait.margin-lg.size-A3 .col-3 {
  width: 255.75px;
}

body.orientation-landscape.margin-lg.size-A3 .col-3 {
  width: 371.75px;
}

body.orientation-portrait.margin-lg.size-A3 .col-4 {
  width: 341px;
}

body.orientation-landscape.margin-lg.size-A3 .col-4 {
  width: 495.6666666667px;
}

body.orientation-portrait.margin-lg.size-A3 .col-5 {
  width: 426.25px;
}

body.orientation-landscape.margin-lg.size-A3 .col-5 {
  width: 619.5833333333px;
}

body.orientation-portrait.margin-lg.size-A3 .col-6 {
  width: 511.5px;
}

body.orientation-landscape.margin-lg.size-A3 .col-6 {
  width: 743.5px;
}

body.orientation-portrait.margin-lg.size-A3 .col-7 {
  width: 596.75px;
}

body.orientation-landscape.margin-lg.size-A3 .col-7 {
  width: 867.4166666667px;
}

body.orientation-portrait.margin-lg.size-A3 .col-8 {
  width: 682px;
}

body.orientation-landscape.margin-lg.size-A3 .col-8 {
  width: 991.3333333333px;
}

body.orientation-portrait.margin-lg.size-A3 .col-9 {
  width: 767.25px;
}

body.orientation-landscape.margin-lg.size-A3 .col-9 {
  width: 1115.25px;
}

body.orientation-portrait.margin-lg.size-A3 .col-10 {
  width: 852.5px;
}

body.orientation-landscape.margin-lg.size-A3 .col-10 {
  width: 1239.1666666667px;
}

body.orientation-portrait.margin-lg.size-A3 .col-11 {
  width: 937.75px;
}

body.orientation-landscape.margin-lg.size-A3 .col-11 {
  width: 1363.0833333333px;
}

body.orientation-portrait.margin-lg.size-A3 .col-12 {
  width: 1023px;
}

body.orientation-landscape.margin-lg.size-A3 .col-12 {
  width: 1487px;
}

/*margin xl : 80px*/

body.orientation-portrait.margin-xl.size-A3 .col-1 {
  width: 80.25px;
}

body.orientation-landscape.margin-xl.size-A3 .col-1 {
  width: 118.9166666667px;
}

body.orientation-portrait.margin-xl.size-A3 .col-2 {
  width: 160.5px;
}

body.orientation-landscape.margin-xl.size-A3 .col-2 {
  width: 237.8333333333px;
}

body.orientation-portrait.margin-xl.size-A3 .col-3 {
  width: 240.75px;
}

body.orientation-landscape.margin-xl.size-A3 .col-3 {
  width: 356.75px;
}

body.orientation-portrait.margin-xl.size-A3 .col-4 {
  width: 321px;
}

body.orientation-landscape.margin-xl.size-A3 .col-4 {
  width: 475.6666666667px;
}

body.orientation-portrait.margin-xl.size-A3 .col-5 {
  width: 401.25px;
}

body.orientation-landscape.margin-xl.size-A3 .col-5 {
  width: 594.5833333333px;
}

body.orientation-portrait.margin-xl.size-A3 .col-6 {
  width: 481.5px;
}

body.orientation-landscape.margin-xl.size-A3 .col-6 {
  width: 713.5px;
}

body.orientation-portrait.margin-xl.size-A3 .col-7 {
  width: 561.75px;
}

body.orientation-landscape.margin-xl.size-A3 .col-7 {
  width: 832.4166666667px;
}

body.orientation-portrait.margin-xl.size-A3 .col-8 {
  width: 642px;
}

body.orientation-landscape.margin-xl.size-A3 .col-8 {
  width: 951.3333333333px;
}

body.orientation-portrait.margin-xl.size-A3 .col-9 {
  width: 722.25px;
}

body.orientation-landscape.margin-xl.size-A3 .col-9 {
  width: 1070.25px;
}

body.orientation-portrait.margin-xl.size-A3 .col-10 {
  width: 802.5px;
}

body.orientation-landscape.margin-xl.size-A3 .col-10 {
  width: 1189.1666666667px;
}

body.orientation-portrait.margin-xl.size-A3 .col-11 {
  width: 882.75px;
}

body.orientation-landscape.margin-xl.size-A3 .col-11 {
  width: 1308.0833333333px;
}

body.orientation-portrait.margin-xl.size-A3 .col-12 {
  width: 963px;
}

body.orientation-landscape.margin-xl.size-A3 .col-12 {
  width: 1427px;
}

/*margin xxl : 120px*/

body.orientation-portrait.margin-xxl.size-A3 .col-1 {
  width: 73.5833333333px;
}

body.orientation-landscape.margin-xxl.size-A3 .col-1 {
  width: 112.25px;
}

body.orientation-portrait.margin-xxl.size-A3 .col-2 {
  width: 147.1666666667px;
}

body.orientation-landscape.margin-xxl.size-A3 .col-2 {
  width: 224.5px;
}

body.orientation-portrait.margin-xxl.size-A3 .col-3 {
  width: 220.75px;
}

body.orientation-landscape.margin-xxl.size-A3 .col-3 {
  width: 336.75px;
}

body.orientation-portrait.margin-xxl.size-A3 .col-4 {
  width: 294.3333333333px;
}

body.orientation-landscape.margin-xxl.size-A3 .col-4 {
  width: 449px;
}

body.orientation-portrait.margin-xxl.size-A3 .col-5 {
  width: 367.9166666667px;
}

body.orientation-landscape.margin-xxl.size-A3 .col-5 {
  width: 561.25px;
}

body.orientation-portrait.margin-xxl.size-A3 .col-6 {
  width: 441.5px;
}

body.orientation-landscape.margin-xxl.size-A3 .col-6 {
  width: 673.5px;
}

body.orientation-portrait.margin-xxl.size-A3 .col-7 {
  width: 515.0833333333px;
}

body.orientation-landscape.margin-xxl.size-A3 .col-7 {
  width: 785.75px;
}

body.orientation-portrait.margin-xxl.size-A3 .col-8 {
  width: 588.6666666667px;
}

body.orientation-landscape.margin-xxl.size-A3 .col-8 {
  width: 898px;
}

body.orientation-portrait.margin-xxl.size-A3 .col-9 {
  width: 662.25px;
}

body.orientation-landscape.margin-xxl.size-A3 .col-9 {
  width: 1010.25px;
}

body.orientation-portrait.margin-xxl.size-A3 .col-10 {
  width: 735.8333333333px;
}

body.orientation-landscape.margin-xxl.size-A3 .col-10 {
  width: 1122.5px;
}

body.orientation-portrait.margin-xxl.size-A3 .col-11 {
  width: 809.4166666667px;
}

body.orientation-landscape.margin-xxl.size-A3 .col-11 {
  width: 1234.75px;
}

body.orientation-portrait.margin-xxl.size-A3 .col-12 {
  width: 883px;
}

body.orientation-landscape.margin-xxl.size-A3 .col-12 {
  width: 1347px;
}

table {
  font-size: 11pt;
  border-spacing: 0;
  border-collapse: collapse;
}

table thead td,
table thead th,
table tbody td,
table tbody th {
  vertical-align: top;
}

table.table {
  border-spacing: 0;
  border-collapse: collapse;
}

table.table thead th {
  font-weight: bold;
  padding: 0px;
  border-top: 1px solid #ced4da;
  border-bottom: 2px solid #ced4da;
}

table.table thead th > div {
  padding: 10px 8px;
}

table.table tbody td,
table.table tbody th {
  vertical-align: top;
  padding: 0px;
  border-bottom: 1px solid #ced4da;
}

table.table tbody td > div,
table.table tbody th > div {
  padding: 10px 8px;
}

table.table.table-display thead th {
  font-weight: bold;
  font-style: italic;
  border-top: 2px solid #333;
  border-bottom: 1px solid #ced4da;
}

table.table.table-display thead th {
  font-weight: bold;
  font-style: italic;
  border-top: 2px solid #333;
  border-bottom: 1px solid #ced4da;
}

table.table.table-display tbody th {
  background-color: #919aa1;
  border-bottom: 1px solid #ced4da;
  font-weight: bold;
}

table.table.table-display tbody td {
  border-bottom: 1px solid #ced4da;
}

table.table.table-display tbody td:last-child {
  border-right-width: 0px;
}

table.table.table-display tbody td.title {
  font-weight: bold;
}

table.table.table-bordered {
  border: 1px solid #ced4da;
}

table.table.table-bordered thead th {
  font-weight: bold;
  font-style: italic;
  border-right: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
}

table.table.table-bordered tbody th {
  background-color: #919aa1;
  border-bottom: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  font-weight: bold;
}

table.table.table-bordered tbody td {
  border-bottom: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
}

table.table.table-bordered tbody td:last-child {
  border-right-width: 0px;
}

table.table.table-bordered tbody td.title {
  font-weight: bold;
}

table.table.table-compact thead th > div,
table.table.table-compact thead td > div,
table.table.table-compact tbody td > div,
table.table.table-compact tbody th > div {
  padding: 5px 5px;
}

table.borderless {
  border-width: 0px !important;
  border-style: none !important;
  border-color: transparent !important;
}

table.borderless td,
table.borderless th {
  border-width: 0px !important;
  border-style: none !important;
  border-color: transparent !important;
}

.img-thumbnail {
  width: 200px;
  height: auto;
  vertical-align: top;
}

.img-thumbnail-sm {
  width: 80px;
  height: auto;
  vertical-align: top;
}

